.event-page {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.hero-container {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  overflow: hidden;
  position: relative;

  .hero-img {
    width: 100%;
    object-fit: cover;
  }

  h1 {
    position: absolute;
    color: #ffffff;
    font-weight: normal;
    z-index: 1;
    bottom: 20px;
    left: 20px;
    margin: 0 auto;
  }
}

.event-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: black;

  .filter-container {

    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;

    #month {
      background-color: $lightPink;
    }

    .select {
      display: block;
      font-size: 16px;
      background-color: $dustyPink;
      color: #121212;
      line-height: 1.3;
      padding: .6em 1.4em .5em .8em;
      width: 100%;
      max-width: 100%;
      height: 100%;
      box-sizing: border-box;
      margin: 0;
      border: none;
      border-radius: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
    }
  }

  a, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
  }

  .event-cards {
    background-color: rgb(255, 255, 255);
    margin: 5px 5px 24px 5px;
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }

  .fields {
    padding: 10px 20px;
  }

  p {
    margin: 0;
  }


  .cat-date-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 12px;

    a, a:visited {
      font-weight: 700;
      color: black;
    }

    p {
      margin: 0;
      padding: 0 5px;
      font-family: 'Lato', sans-serif;
      font-size: 12px;
    }

    .event-date {
      padding: 0;
    }

    .online-event {
      background:  #CD3824;
      height: 24px;
      align-self: flex-end;
      margin-left: auto;
      display: flex;
      align-items: center;
      padding: 0 3px;

      p {
        color: white;
        font-size: 12px;
        // font-weight: 700;
      }
    }
  }

  .event-title {
    padding-top: 8px;
    padding-bottom: 18px;
    color: $darkBlue;
    margin: 0;
  }

  .event-info {
    font-family: minion-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 10px;
  }
}

// Single-event.php below

.single-event-container {
  line-height: normal;
  padding-top: 52px;

  .title {
    color: $darkBlue;
    padding-top: 16px;
  }

  svg {
    color: $lightPink;
    margin: 0;
    padding: 0;
  }

  .hej {
    padding: 24px 20px 0 20px;
  }
}

.cat-date-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;

  a, a:visited {
    font-weight: 700;
    color: black;
  }

  p {
    margin: 0;
    padding: 0 5px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
  }

  .event-date {
    padding: 0;
  }

  .online-event {
    background:  #CD3824;
    height: 24px;
    align-self: flex-end;
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 0 3px;

    p {
      color: white;
      font-size: 12px;
      // font-weight: 700;
    }
  }
}

.event-info-container {
  display: flex;
  flex-direction: column;
  background-color: $lightPink;
  margin: 0;
  padding: 0;

  .event-info-wrapper {
    padding: 0 20px;
  }

  p {
    margin: 0;
  }

  .info-top-img{
    padding-bottom: 40px;
    margin-top: -20px;
  }
  .info-bottom-img{
    padding-top: 40px;
    margin-bottom: -20px
  }

  ul {
    padding: 0 0 40px 0;
    margin: 0;
  }

  li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;

    p {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 16px;
    }

    img {
      padding-right: 8px;
    }
  }

  .optional-info {

    padding: 0 0 40px 0;
    p {
      font-size: 16px;
      line-height: 19px;
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;

    .link-button {
      @include link-button;
      width: 120px;
    }
  }
}

.gallery-section {

  h3 {
    padding: 0 20px;

  }

  .gallery-container {
    @include snap-scroll-parent;
    display: flex;
    padding-bottom: 40px;
    padding-left: 10px;
    // max-height: 250px;

    .gallery-images {

      img {
        padding-right: 6px;
        max-width: 335px;
        @include snap-scroll-child;
      }
    }
  }
}

// --- Category.php ---

.category-page {
  padding-top: 52px;

  .category-name {
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
      font-size: 14px;
      color: #8D8D8D;
      margin: 30px 0;
      padding: 0 20px;

      &:before,
      &:after {
        background-color: #8D8D8D;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 150%;
      }

      &:before {
        right: 0.5em;
        margin-left: -150%;
      }

      &:after {
        left: 0.5em;
        margin-right: -150%;
      }
    }
  }
}
