.footer {
  background: $darkGreen;
  color: #ffffff;
  padding: 24px 20px 44px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  * {
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 16px;
    padding: 4px 0;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      padding-right: 8px;
    }
  }

  p {
    font-size: 14px;
  }

  a, a:visited, .to-top-link, .to-top-link:visited {
    text-decoration: none;
    color: white;
  }

  .footer-logo {
    padding-bottom: 16px;
    max-width: 160px;
  }
}

.to-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  h4 {
    font-size: 14px;
    font-weight: 700;
    padding: 0 6px 0 0;
  }
}

.follow {
  padding: 28px 0;
}

.contact {
  a {
    color: white;
    text-decoration: underline;
  }

  a:visited {
    color: white;
    text-decoration: none;
  }
}

.footer-logos {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 48px;

  img {
    height: 100%;
    width: auto;
  }
}


@media only screen and (min-width: 800px) {

  .footer {
    padding: 24px 90px 44px 90px;
    justify-content: center;
    align-items: center;

    .to-top {
      align-self: flex-end;

      h4 {
        font-size: 18px;
      }
    }

    .footer-info-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 40px;

      .logo-text {
        min-width: 400px;
        max-width: 430px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer-logo {
          padding-bottom: 32px;
          max-width: 250px;
        }
        p {
          font-size: 18px;
        }
      }

      .contact {
        min-width: 400px;
        max-width: 430px;
      }

      .follow {
        margin-top: -52px;
      }

      .follow, .contact {
        padding: 0;

        li, h4 {
          font-size: 20px;
        }

        li {
          padding: 12px 0;
        }
      }
    }
  }

  .footer-logos {
    width: 70%;
    height: 100%;
  }
}
