footer {
  * {
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 16px;
    padding: 4px 0;
  }

  background: $darkGreen;
  color: #ffffff;
  margin-top: 50px;
  padding: 30px 0 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
