@import "./hamburger.scss";
.header-navbar{
  height: 52px;
  width: 100vw;
  background-color: $darkGreen;
  position: fixed;
  z-index: 5;

  .icon-container{
    height: 100%;
    width: 100%;
    .menu-search{
      position: absolute;
      left: 13px;
      top: 13px;
    }
    .home-icon{
      position: absolute;
      display: flex;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      left: calc(50% - 15px);
      top: 11px;
    }
  }
  .menu{
    background-color: $darkGreen;
    height: 100vh;
    z-index: 5;
    transition: ease-in 0.4s;
    transform: translateX(100%);

    h2{
      font-size: 24;
      color: white;
      font-style: normal;
      font-weight: bold;
      margin-left: 20px;
      padding-top: 32px;
      margin-bottom: 32px;
    }
    .link-container{
      background-color: $darkGreen;
      display: flex;
      flex-direction: column;
      .link-page{
        border: none;
        @include menu-text-style;
        margin-left: 20px;
        margin-bottom: 32px;
      }
      .language-header{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;
        img{
          height: 10px;
          width: 15px;
          margin-left: 10px;
        }
        .language-icon{
          width: 15px;
          height: 15px;
          margin-left: 20px;
        }
        h3{
          @include menu-text-style;
          margin-left: 10px;
          margin-bottom: 0px;
        }
      }
      .language-selector{
        display: none;
        div{
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          img{
            margin-left: 40px;
          }
          h3{
            @include menu-text-style;
            margin-left: 10px;
            margin-bottom: 0px;
          }
        }
      }
      .visible{
        display: block;
      }
    }
  }
  .menu-open{
    transition: ease-out 0.4s;
    transform: translateX(30%);
  }
}
@media only screen and (min-width: 800px) {
  .hamburger{ display: none;}
  .toggler{display:none;}
  .header-navbar{

    .menu{
      transform: translateX(0%);
      max-height: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      .link-container{
        width: 60%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .link-page{
          margin-left: 20px;
          margin-bottom: 0px !important;
        }
        .language-header{
          margin-bottom: 0px;
        }
      }
      h2{
        display: none;
      }
    }
    .icon-container{
      width: 0px;
      height: 0px;
      .home-icon{
        left: 30px;
        z-index: 6;
      }
      .menu-search{
        right: 30px;
        left: unset;
        z-index: 6;
      }
    }
}
}
