@mixin font-line-height {
  font-style: normal;
  line-height: 150%;
  color: $black;
}
@mixin link-button{
  margin: 8px 24px;
  height: 40px;
  background: $darkGreen;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
