.gallery-page {
  padding-top: 52px;

  .hero-title{
    margin: 20px 20px;
    color: $darkBlue;
  }

  .gallery-information-container {
    background: $lightPink;
    margin-top: 20px;
  }

  #sb_instagram {
    padding-bottom: 0px !important;
  }

  .information-container {
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;

    a, a:visited {
      color: $darkBlue;
      text-decoration: underline;
    }

    .illustration-bird-container {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 14px;

      img {
        width: 128px;
      }
    }
  }
}

@media only screen and (min-width: 800px) {

  .gallery-page {

    h1 {
      padding: 40px 140px 40px 140px;
      font-size: 40px;
    }

    .instagram-feed {
      padding: 0 140px;
    }

    .information-container {
      padding: 80px 140px 160px 140px;
      flex-direction: row;
      justify-content: space-between;

      .info-text-container {
        width: 55%;

        h2 {
          font-size: 30px;
          padding-bottom: 3%;
        }

        p {
          font-size: 18px;
        }
      }

      .illustration-bird-container {
        padding-right: 40px;
        width: 35%;

        img {
          min-width: 230px;
        }
      }
    }
  }
 }

