.gallery-page {

  .hero-title{
    margin: 20px 20px;
    color: $darkBlue;
  }

  #sb_instagram {
    padding-bottom: 0px !important;
  }

  .gallery-wave {
    margin-bottom: -20px;
  }

  .information-container {
    background: $lightPink;
    padding: 70px 20px 0 20px;

    a, a:visited {
      color: $darkBlue;
      text-decoration: underline;
    }

    .illustration-bird-container {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 14px;

      img {
        width: 128px;
      }
    }
  }
}
