.front-event-container{
  margin-bottom: 100px;
}
.front-event-cards-container{
  display: flex;
  margin-bottom: 40px;
  margin: 0% 4%;
  overflow-x: auto;
  min-height: 400px;

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}
 /* Hide scrollbar for Chrome, Safari and Opera */
 .front-event-cards-container::-webkit-scrollbar {
  display: none;
}


.front-event-cards{
  margin: 0% 1%;
  max-width: 163px;
  max-height: 305px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.front-event-date{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  color: $black;
}
.front-event-title{

  font-size: 16px;

  color: $darkBlue;
}
.front-event-info{

  line-height: 114%;

  color: #121212;
}
