.news-container{
  display: flex;
  flex-direction: column;
  background-color: $lightPink;

  .news-article{
    border-bottom: #BCBCBC solid 1px;
    margin: 5px;
    height: 40px;
    overflow: hidden;

    *{
      font-size: 16px;
    }
    div{
      display: flex;
    }
    .news-title{
      font-weight: bold;
      width: 80%;
      margin-bottom: 20px;
    }
    .news-arrow{
      width: 12px;
      height: 7px;
    }
    button{
      height: 10px;
      width: 10px;
      background-color: black;
      border: none;
    }
    p{

    }
  }
  h1{
    border-bottom: #BCBCBC solid 1px;
  }
}
