.bookings-container {
  background-color: $darkBlue;
  color: #ffffff;
  padding: 50px 20px;

  h3 {
    margin: 0;
    padding-top: 30px;
  }

  .room {
    padding: 16px 0;

    * {
      margin: 0;
      padding: 0;
    }

    p {
      padding-top: 4px;
      padding-bottom: 8px;
    }

    .capacity {
      display: flex;
      align-items: center;

      img {
        padding-right: 8px;
      }

      p {
        padding: 0;
        font-size: 14px;
      }
    }
   }
}

.contact-container {
  padding-top: 32px;

  p {
    margin: 0;
    padding-bottom: 48px;
  }

  h3 {
    margin: 0;
    padding-bottom: 12px;
  }
}

form {
  margin: 0px !important;
  padding: 0px !important;
  font-family: 'Lato', sans-serif;

  .label-above .nf-field-label {
    margin-bottom: 2px;
  }

  label {
    color: #ffffff;
    font-weight: normal !important;
  }

  .nf-field {
    width: 100%;
    padding: 3px 0;
  }

  .nf-field-container {
    margin-bottom: 0px !important;
  }

  #nf-field-12 {
    border: none;
    background: $lightPink;
    color: $black;
    font-family: $fontHeading;
    width: 100%;
    height: 40px;
  }

  .nf-element {
    padding: 2px 2px 2px 6px;
  }

  .ninja-forms-req-symbol {
    color: white;
  }

  .nf-error-required-error {
    color: white;
    font-size: 12px;
  }

  .nf-error-field-errors {
    color: white;
    font-size: 16px;
    // font-weight: 700;
  }

  .list-radio-wrap {

    #nf-label-field-14 {
      padding-bottom: 10px;
    }
  }
}

@media only screen and (min-width: 800px) {

  .bookings-container {
    padding: 80px 9.5% 160px 9.5%;

    h3 {
      padding-bottom: 38px;
      padding-top: 50px;
      font-size: 24px;
    }

    .booking-information {
      width: 60%;

      h2 {
        font-size: 30px;
      }

      p {
        font-size: 18px;
      }
    }

    .room-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .room {
      width: 330px;
      padding: 26px 2px;

      p, h4 {
        font-size: 18px;
      }

      .capacity {
        p {
          font-size: 16px;
        }
      }
    }
  }

  .contact-container {
    padding-top: 32px;
    width: 60%;

    p {
      padding: 48px 0;
    }
  }

  form {
    #nf-field-12 {
      width: 30%;
      height: 40px;
    }
  }
}
