@import "./managers.scss";
@import "./bookings.scss";

.contact-page {
  .hero-img{
    width: 100%;
    margin-top: 52px;
  }
  .contact-underline, .contact-underline:visited {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #121212;
    text-decoration: underline;
  }

  .contact-information {
    padding: 0 20px;
    .hero-title{
      margin: 20px 0;
      color: $darkBlue;
    }
  }
}
