@import "./managers.scss";
@import "./bookings.scss";

.contact-page {
  .hero-img{
    width: 100%;
    margin-top: 52px;
  }
  .contact-underline, .contact-underline:visited {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #121212;
    text-decoration: underline;
  }

  .contact-information {
    padding: 0 20px;
    .hero-title{
      margin: 20px 0;
      color: $darkBlue;
    }
  }
}

@media only screen and (min-width: 800px) {

  .contact-page {

    .contact-information {
      margin: 0 9.5%;
      padding: 0;
      width: 55%;
      margin-bottom: 52px;

      .hero-title {
        font-size: 30px;
      }

      h4 {
        margin-top: 32px;
      }

      h3, h4 {
        font-size: 24px;
      }

      p {
        font-size: 18px;
      }
    }
    .contact-underline {
      font-size: 18px;
    }
  }
}
