.manager-wrapper {
  background: $lightPink;

    .illustration-flower {
      position: absolute;
      right: 120px;
      margin-top: -12%;
      opacity: 0;
    }
}

.manager-container {
  padding: 0px 20px 70px 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #121212;
  width: 100vw;

  .managers {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      .name {
        font-weight: 700;
      }
    }

    img {
      padding: 10px 20px 10px 10px;
    }
  }
}

@media only screen and (min-width: 800px) {

  .manager-wrapper {

      .illustration-flower {
        opacity: 1;
      }
  }

  .manager-container {
    padding: 10px 9.5% 80px 9.5%;

    h2 {
      font-size: 30px;
    }

    li {
      font-size: 18px;
    }
  }
}
