.manager-container {
  background: $lightPink;
  padding: 20px 20px 70px 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #121212;
  width: 100vw;

  .managers {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      .name {
        font-weight: 700;
      }
    }

    img {
      padding: 10px 20px 10px 10px;
    }
  }
}

@media only screen and (min-width: 800px) {

  .manager-container {
    padding: 40px 9.5% 80px 9.5%;
  }
}
