@import "./single-event.scss";
@import "./category.scss";


.event-page {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.hero-container {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  overflow: hidden;
  position: relative;

  .hero-img {
    width: 100%;
    object-fit: cover;
    margin-top: 52px;
  }

  h1 {
    position: absolute;
    color: #ffffff;
    font-weight: normal;
    z-index: 1;
    bottom: 20px;
    left: 20px;
    margin: 0 auto;
  }
}

.event-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: black;
  padding-bottom: 50px;

  .filter-container {

    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;

    #month {
      background-color: $lightPink;
    }

    .select {
      display: block;
      font-size: 16px;
      background-color: $dustyPink;
      color: #121212;
      line-height: 1.3;
      padding: .6em 1.4em .5em .8em;
      width: 100%;
      max-width: 100%;
      height: 100%;
      box-sizing: border-box;
      margin: 0;
      border: none;
      border-radius: 0%;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
    }
  }

  a, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
  }

  .event-card {
    background-color: rgb(255, 255, 255);
    margin: 5px 5px 24px 5px;
    min-width: 300px;
    max-width: 300px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    &:hover {
      box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.39);
    }
  }

  .fields {
    padding: 10px 20px;
  }

  p {
    margin: 0;
  }

  .cat-date-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 12px;

    .event-category {
      font-weight: 700;
      color: black;
      padding: 0;
    }

    p {
      margin: 0;
      padding: 0 5px;
      font-family: 'Lato', sans-serif;
      font-size: 12px;
    }

    .event-date {
      padding: 0;
    }

    .online-event {
      background:  #CD3824;
      height: 24px;
      align-self: flex-end;
      margin-left: auto;
      display: flex;
      align-items: center;
      padding: 0 3px;

      p {
        color: white;
        font-size: 12px;
        // font-weight: 700;
      }
    }
  }

  .event-title {
    padding-top: 8px;
    padding-bottom: 18px;
    color: $darkBlue;
    margin: 0;
  }

  .event-info {
    font-family: minion-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 10px;
  }
}


@media only screen and (min-width: 800px) {

  .event-container {
    padding-bottom: 150px;

    .event-cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0 150px;

      .event-card {
        margin: 20px 20px;
        min-height: 380px;

        .event-title {
          font-size: 22px;
        }
      }
    }
  }
}
