/* WordPlate */

@import './components/variables.scss';
@import './components/button.scss';
@import './components/footer.scss';

@import './pages/front-page/front-page.scss';
@import './pages/events.scss';

// *, *::before, *::after {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

