/* WordPlate */
*{
  scrollbar-width: none;

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}
::-webkit-scrollbar{
  display: none;
}

html {
  scroll-behavior: smooth;
}

@import './components/variables.scss';
@import './components/mixins.scss';
@import './components/text.scss';
@import './components/button.scss';
@import './components/footer.scss';
@import './components/menu.scss';

@import './pages/front-page/front-page.scss';
@import './pages/events.scss';
@import './pages/contact-page/contact-page.scss';
@import './pages/about-page/about-page.scss';
@import './pages/gallery/gallery.scss';



// *, *::before, *::after {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

