.timeline-section{
  background-color: $darkBlue;
  margin-top: 85px;


  .wave-top{
    padding-bottom: 40px;
    margin-top: -20px;
    width: 100%;
    overflow: hidden;
  }
  .wave-bottom{
    padding-top: 40px;
    margin-bottom: -20px;
    margin-left: -1px;
    width: 100%;
    overflow: hidden;
  }
  h2{
    color: white;
    margin-left: 20px;
    margin-bottom: 30px;
  }
}
.timeline-container{

  display: flex;
  justify-content: center;
  flex-direction: column;


  .year-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 30px;
    p{
      width: 70%;
      color: white;
    }
    .year-line-right{
      position: absolute;
      right: 78%;
      z-index: 2;
      background-color: white;
      height: 1px;
      width: 8px;
      margin-top: 9px;
    }
    .year-line-left{
      position: absolute;
      left: 22%;
      z-index: 2;
      background-color: white;
      height: 1px;
      width: 9px;
      margin-top: 9px;
    }
    h4{
      color: white;
      width: 20%;
    }
  }
  .timeline{
    position: absolute;
    left: 22%;
    z-index: 2;
    background-color: white;
    height: 90%;
    width: 1px;
    overflow: visible;
    div{
      width: 7px;
      height: 7px;
      border-radius: 50%;
      margin-left: -3px;
      margin-top: -4px;
      background-color: white;
    }
  }
}
