.paragraph-container{
  margin: 0px 20px;

}
.illustration-bird-flower{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.illustration-bird{
  position: absolute;
  right: 0px;
}

@media only screen and (min-width: 800px) {
  .paragraph-container{
    width: 60vw;
    margin-left: 9.5%;
    margin-bottom: 50px;
    h3{
      font-size: 24px;
    }
    p{
      font-size: 18px;
    }
  }
  .illustration-bird-flower{
    margin-left: 70px;
  }
  .paragraph-bird-container{
    display: flex;
    align-items: center;
  }
}
