.paragraph-container{
  margin: 0px 20px;

}
.illustration-bird-flower{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.illustration-bird{
  position: absolute;
  right: 0px;
}

